# Postgres (local dev)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecom
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your password>

# Path to the folder containing the 14 CSVs
CSV_DIR=/Users/akellaprudhvi/PycharmProjects/vs-python/data/datasets

OPENAI_API_KEY=<replace with open ai key>
AWS_REGION=us-east-1
S3_VECTOR_BUCKET=nlq-ecom-schema-vectors
S3_VECTOR_INDEX=ecom-schema
KNOWLEDGE_BASE_DIR=/Users/akellaprudhvi/PycharmProjects/vs-python/data/knowledge_base
